{% extends 'bootstrap/base.html' %}


{% block scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{{ super() }}
<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/socket.io-client/dist/socket.io.js') }}"></script>

<script>
  // Establish socketio connection
  var socket;
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function() {
    socket = io.connect('http://' + document.domain + ':' + location.port);

    // Update current process data
    socket.on('update', function(data) {
      // Set current timestamp
      $('#timestamp').text(data['t']);

      // Enable/Disable Heater and Mixer
      if (data['ht_en']) {
        $('#enableHeater').addClass('btn-danger');
      }
      else {
        $('#enableHeater').removeClass('btn-danger');
      };

      if (data['mx_en']) {
        $('#enableMixer').addClass('btn-danger');
      }
      else {
        $('#enableMixer').removeClass('btn-danger');
      }
    });

    // Enable / Disable Heater state
    $('#enableHeater').click(function() {
      if ($(this).hasClass('btn-danger')) {
        socket.emit('disable heater');
      }
      else {
        socket.emit('enable heater');
      }
    });

    socket.on('heater enabled', function() {
      $('#enableHeater').addClass('btn-danger');
    });

    socket.on('heater disabled', function() {
      $('#enableHeater').removeClass('btn-danger');
    })

    // Enable / Disabe mixer state
    $('#enableMixer').click(function() {
      if ($(this).hasClass('btn-danger')) {
        socket.emit('disable mixer');
      }
      else {
        socket.emit('enable mixer');
      }
    })

    socket.on('mixer enabled', function() {
      $('#enableMixer').addClass('btn-danger')
    });

    socket.on('mixer disabled', function() {
      $('#enableMixer').removeClass('btn-danger');
    });
  });
</script>
{% endblock %}


{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='logo.png') }}"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <button id="enableHeater" class="btn btn-default navbar-btn{% if heater_enabled %} btn-danger{% endif %}">Heizung</button>
      <button id="enableMixer" class="btn btn-default navbar-btn{% if mixer_enabled %} btn-danger{% endif %}">Rührwerk</button>
      <ul class="nav navbar-nav">
        <li id="navSettings"><a href="{{ url_for('main.plot') }}">Verlauf</a>
        <li id="navSettings"><a href="{{ url_for('main.settings') }}">Einstellungen</a>
      </ul>
      <p class="navbar-text pull-right" id="timestamp" style="display: inline;"></p>
    </div>
  </div>
</div>
{% endblock %}