{% extends 'bootstrap/base.html' %}

{% block scripts %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="{{ url_for('static', filename='bower_components/plotlyjs/plotly.js') }}"></script>

  <script>
  var data_setpoint = {name: 'Sollwert[°C]', type: 'scatter', x: {{ pd['t'] | safe }}, y: {{ pd['temp_sp'] | safe }} };
  var data_temp = {name: 'Temperatur [°C]', type: 'scatter', x: {{ pd['t'] | safe }}, y: {{ pd['temp_ct'] | safe }} };
  var data_pwr = {name: 'Leistung [%]', type: 'scatter', x: {{ pd['t'] | safe }}, y: {{ pd['ht_pwr'] | safe }} };

  var layout_lg = {
    margin: {
        l: 60,
        r: 0,
        b: 100,
        t: 0,
        pad: 4
    },
    height: 400,
    yaxis: {
      title: '°C',
      range: [0, 100]
    },
    legend: {
      x: 0.02,
      y: 1.02,
      traceorder: 'normal',
      font: {
        family: 'sans-serif',
        size: 12,
        color: '#000'
      },
      bordercolor: '#FFFFFF',
      borderwidth: 2
    }
  };

  var layout_sm = {
    margin: {
      l: 30,
      r: 0,
      b: 80,
      t: 0,
      pad: 4
    },
    height: 300,
    yaxis: {
      title: '',
      range: [0, 100]
    },
    legend: {
      x: 0.02,
      y: 1.02,
      traceorder: 'normal',
      font: {
        family: 'sans-serif',
        size: 12,
        color: '#000'
      },
      bordercolor: '#FFFFFF',
      borderwidth: 2
    }
  };
  var layout = layout_lg;

  $(document).ready(function() {

    // ----------------------------------------------
    // Plotly initialization
    // ----------------------------------------------

    var chart = $('#chart').get(0);

    if (window.innerWidth <= 767) {
      layout = layout_sm;
    }
    else {
      layout = layout_lg;
    };

    Plotly.plot(
      chart,
      [data_setpoint, data_temp, data_pwr],
      layout,
      {
        displayModeBar: false,
        staticPlot: true
      }
    );

    $(window).resize(function() {
      Plotly.Plots.resize(chart);
    });

    // ----------------------------------------------
    // SocketIO event handling
    // ----------------------------------------------

    // Establish socketio connection
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // Test event to query if connection ok

    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });

    // Update current process data

    socket.on('update', function(data) {

      $('#timestamp').text(data['t']);
      $('#temp_current').val(data['temp_ct']);
      $('#heater_power_pct').val(data['ht_pwr']);

      if (data['ht_on']) {
        $('#heaterStateLight').css('background-color', 'red');
      }
      else {
        $('#heaterStateLight').css('background-color', 'darkgray');
      }

      if (data['ht_en']) {
        $('#enableHeater').addClass('btn-primary');
      }
      else {
        $('#enableHeater').removeClass('btn-primary');
      };

      if (data['mx_en']) {
        $('#enableMixer').addClass('btn-primary');
      }
      else {
        $('#enableMixer').removeClass('btn-primary');
      }

      // add temperature data point
      data_temp.x.push(data['t']);
      data_temp.y.push(data['temp_ct']);

      // add setpoint data point
      data_setpoint.x.push(data['t']);
      data_setpoint.y.push(data['temp_sp']);

      // add setpoint data point
      data_pwr.x.push(data['t']);
      data_pwr.y.push(data['ht_pwr']);

      Plotly.redraw(chart);

    });

    // Enable / Disable Heater state
    $('#enableHeater').click(function() {
      if ($(this).hasClass('btn-primary')) {
        socket.emit('disable heater');
      }
      else {
        socket.emit('enable heater');
      }
    });

    socket.on('heater enabled', function() {
      $('#enableHeater').addClass('btn-primary');
    });

    socket.on('heater disabled', function() {
      $('#enableHeater').removeClass('btn-primary');
    })

    // Enable / Disabe mixer state
    $('#enableMixer').click(function() {
      if ($(this).hasClass('btn-primary')) {
        socket.emit('disable mixer');
      }
      else {
        socket.emit('enable mixer');
      }
    })

    socket.on('mixer enabled', function() {
      $('#enableMixer').addClass('btn-primary')
    });

    socket.on('mixer disabled', function() {
      $('#enableMixer').removeClass('btn-primary');
    });

    // set setpoint
    $('#acceptSetpointButton').click(function(event) {
      socket.emit('change setpoint', {'value': $('#temp_setpoint').val()});
    });

    socket.on('setpoint changed', function(data) {
      $('#temp_setpoint').val(data['value']);
    });
  });
  </script>

  {{  super() }}

{% endblock %}

{% block navbar %}
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><img src="{{ url_for('static', filename='logo.png') }}"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <button id="enableHeater" class="btn btn-default navbar-btn{% if heater_enabled %} btn-primary{% endif %}">Heizung</button>
        <button id="enableMixer" class="btn btn-default navbar-btn{% if mixer_enabled %} btn-primary{% endif %}">Rührwerk</button>
        <p class="navbar-text pull-right" id="timestamp" style="display: inline;"></p>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="visu-container">
          <img id="pot" src="{{ url_for('static', filename='einkocher.jpg') }}">
          <div id="heaterStateLight"></div>
        </div>
      </div>
      <div class="col-sm-8">
        <form class="form">
          <div class="form-group">
            <label>Temperatur (Soll):</label>
            <div class="input-group">
              <input type="number" class="form-control" id="temp_setpoint" value={{ '{:.1f}'.format(temp_setpoint) }} min=0 max=100>
              <span class="input-group-btn">
                <button type="submit" id="acceptSetpointButton" class="btn btn-primary">OK</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label>Temperatur (Ist):</label>
            <input type="number" step=0.1 class="form-control" id="temp_current" disabled value={{ '{:.1f}'.format(temp_current) }}></p>
          </div>
          <div class="form-group">
            <label>Heizleistung (%):</label>
            <input type="number" step=0.1 class="form-control" id="heater_power_pct" disabled value={{ '{:.1f}'.format(heater_power_pct) }}></p>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="chart"></div>
      </div>
    </div>
  </div>
{% endblock %}
