{% extends 'base.html' %}


{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/jqwidgets/jqwidgets/styles/jqx.base.css') }}">
<script src="{{ url_for('static', filename='bower_components/jqwidgets/jqwidgets/jqxcore.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/jqwidgets/jqwidgets/jqxchart.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/jqwidgets/jqwidgets/jqxgauge.js') }}"></script>

<script>
  // ----------------------------------------------
  // Constants
  // ----------------------------------------------
  const SEQ_STATE_STOPPED = 0;
  const SEQ_STATE_RUNNING = 1;
  const SEQ_STATE_PAUSED = 2;
  const SEQ_STATE_FINISHED = 3;

  const STEP_STATE_WAITING = 0;
  const STEP_STATE_HEATING = 1;
  const STEP_STATE_HOLDING = 2;
  const STEP_STATE_FINISHED = 3;
  const STEP_STATE_SKIPPED = 4;

  $(document).ready(function() {

    // ----------------------------------------------
    // Linear Gauge initialization
    // ----------------------------------------------
    jqxLinearGauge($('#gauge'), {
        max: 100,
        min: 0,
        background: { visible: false},
        pointer: { size: '5%' },
        colorScheme: 'scheme03',
        ticksMajor: { size: '10%', interval: 10 },
        ticksMinor: { size: '5%', interval: 2.5, style: { 'stroke-width': 1, stroke: '#aaaaaa'} },
        value: 0,
        width: 70,
        height: 200,
        labels: { interval: 10, formatValue: function (value, position) {
          if (position === 'far') {
              return value;
          }
          else if (position === 'near') {
            if (value == 100) {
                return '°C';
            }
          }
        },
        ranges: [
          { startValue: 20, endValue: 45, style: { fill: '#FFA200', stroke: '#FFA200' }}
        ],
        showRanges: true
      }
    });

    // ----------------------------------------------
    // SocketIO event handling
    // ----------------------------------------------
    // Update current process data
    socket.on('update', function(data) {
      console.log(data);
      // Update gauge and power
      $('#temp_current').val(data['temp_ct']);
      $('#heater_power_pct').val(data['ht_pwr']);

      // Refresh Gauge
      var temp_ct = data['temp_ct'];
      if (!isNaN(temp_ct)) {
        jqxLinearGauge($('#gauge'), {'value': temp_ct});
      };

      // Update flame state
      var vis_state = data['ht_on'] ? 'visible' : 'hidden';
      $('#flame').css('visibility', vis_state);
      $('#flame').css('display', 'inherit');

      // Update sequence data
      var seq = data['sequence'];
      if (seq['state'] > SEQ_STATE_STOPPED) {

        // Set state of all steps
        for (var step_id in seq['step_states']) {
          var row_id = '#stepRow' + step_id;
          var state = seq['step_states'][step_id];
          var time = seq['step_times'][step_id];

          $(row_id + ' td').eq(3).text(time);

          if (state == STEP_STATE_FINISHED) {
            $(row_id).removeClass('active danger');
            $(row_id).addClass('success');
            $(row_id + ' .glyphicon-ok').show();
            $(row_id + ' .glyphicon-arrow-right').hide();
          }
          else if (state == STEP_STATE_SKIPPED) {
            $(row_id).removeClass('active success');
            $(row_id).addClass('danger');
            $(row_id + ' .glyphicon-ok').hide();
            $(row_id + ' .glyphicon-arrow-right').hide();
          }
          else if ($.inArray(state, [STEP_STATE_HEATING, STEP_STATE_HOLDING]) > -1) {
            $(row_id).addClass('active');
            $(row_id).removeClass('danger success');
            $(row_id + ' .glyphicon-ok').hide();
            $(row_id + ' .glyphicon-arrow-right').show();
          }
          else if (state == STEP_STATE_WAITING) {
            $(row_id).removeClass('active success danger');
            $(row_id + ' .glyphicon-ok').hide();
            $(row_id + ' .glyphicon-arrow-right').hide();
          }
        }

        // Get row id of current step and mark it as current
        var row_id = '#stepRow' + seq['cur_step_id'];

        $('.step-action').hide();
        $(row_id).addClass('active');

      }
      else {
        $('.step-action').show();
      }

      // Set visible buttons depending on sequence state
      switch (seq['state']) {
        case SEQ_STATE_STOPPED:
          $('#seqStartBtn').removeClass('active');
          $('#seqPauseBtn').removeClass('active');
          $('#seqStartBtn').prop('disabled', false);
          $('#seqStopBtn').prop('disabled', true);
          $('#seqPauseBtn').prop('disabled', true);
          break;

        case SEQ_STATE_RUNNING:
          $('#seqStartBtn').addClass('active');
          $('#seqPauseBtn').removeClass('active');
          $('#seqStartBtn').prop('disabled', true);
          $('#seqStopBtn').prop('disabled', false);
          $('#seqPauseBtn').prop('disabled', false);
          break;

        case SEQ_STATE_PAUSED:
          $('#seqStartBtn').removeClass('active');
          $('#seqPauseBtn').addClass('active');

          $('#seqStartBtn').prop('disabled', false);
          $('#seqStopBtn').prop('disabled', false);
          $('#seqPauseBtn').prop('disabled', true);
          break;
      };

      $('#state').text(seq['time_total']);
    });


    // set setpoint
    $('#acceptSetpointButton').click(function(event) {
      socket.emit('change setpoint', {'value': $('#temp_setpoint').val()});
    });

    socket.on('setpoint changed', function(data) {
      $('#temp_setpoint').val(data['value']);
    });

    // Delete step
    $('.del-step-btn').click(function() {
      var step_id = $(this).parents('tr').data('step-id');
      $.ajax({
        url: $SCRIPT_ROOT + '/sequence/steps/' + step_id + '/delete',
        type: 'DELETE'
      }).done(function(data) {
        location.reload();
      });
    });

    // Move step up
    $('.step-up-btn').click(function() {
      var step_id = $(this).parents('tr').data('step-id');
      $.ajax({
        url: $SCRIPT_ROOT + '/sequence/steps/' + step_id + '/up',
        type: 'POST'
      }).donw(function(data) {
        location.reload();
      });
    });

    // Move step down
    $('.step-down-btn').click(function() {
      var step_id = $(this).parents('tr').data('step-id');
      $.ajax({
        url: $SCRIPT_ROOT + '/sequence/steps/' + step_id + '/down',
        type: 'POST'
      }).donw(function(data) {
        location.reload();
      });
    });

    // Signal to start sequence
    $('#seqStartBtn').click(function() {
      socket.emit('start sequence');
    });

    // Signal to stop sequence
    $('#seqStopBtn').click(function() {
      socket.emit('stop sequence');
    });

    // Signal to pause sequence
    $('#seqPauseBtn').click(function() {
      socket.emit('pause sequence');
    });

    // Signal to skip step
    $('#seqFwdBtn').click(function() {
      socket.emit('next step')
    });

    // Signal to skip step
    $('#seqBwdBtn').click(function() {
      socket.emit('previous step')
    });

  });
</script>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="visu-container">
        <img id="pot" src="{{ url_for('static', filename='einkocher.jpg') }}">
        <img id="flame" src="{{ url_for('static', filename='flame.png') }}" style="display: none;">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="col-sm-8">
      <form class="form">
        <div class="form-group">
          <label>Temperatur (Soll):</label>
          <div class="input-group">
            <input type="number" class="form-control" id="temp_setpoint" value={{ '{:.1f}'.format(temp_setpoint) }} min=0 max=100>
            <span class="input-group-btn">
              <button type="submit" id="acceptSetpointButton" class="btn btn-primary">OK</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label>Temperatur (Ist):</label>
          <input type="number" step=0.1 class="form-control" id="temp_current" disabled value={{ '{:.1f}'.format(temp_current) }}></p>
        </div>
        <div class="form-group">
          <label>Heizleistung (%):</label>
          <input type="number" step=0.1 class="form-control" id="heater_power_pct" disabled value={{ '{:.1f}'.format(heater_power_pct) }}></p>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a class="btn btn-default step-action" href="{{ url_for('main.add_step') }}">Schritt hinzufügen</a>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <th></th>
          <th>Name</th>
          <th>Temperatur</th>
          <th>Dauer</th>
          <th>Toleranz</th>
          <th>Heizung</th>
          <th>Mixer</th>
          <th></th>

          {% for step in steps %}
          <tr id="stepRow{{ step.id }}" data-step-id="{{ step.id }}">
            <td>
              <a class="step-action step-up-btn" href=""><span class="glyphicon glyphicon-arrow-up"></span></a>
              <a class="step-action step-down-btn" href=""><span class="glyphicon glyphicon-arrow-down"></span></a>
              <a class="step-action edit-step" href="{{ url_for('main.edit_step', step_id=step.id) }}"><span class="glyphicon glyphicon-edit"></span></a>
              <span class="glyphicon glyphicon-ok" style="display: none;"></span>
              <span class="glyphicon glyphicon-arrow-right" style="display: none;"></span>
            </td>
            <td>{{ step.name }}</td>
            <td>{{ step.temperature }}</td>
            <td>{{ step.duration_formatted() }}</td>
            <td>{{ step.tolerance }}</td>
            <td>{{ step.heater }}</td>
            <td>{{ step.mixer }}</td>
            <td>
              <a class="del-step-btn step-action" href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="container">
              <div class="row">
                <div class="col-xs-6">
                  <button id="seqBwdBtn" class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span></button>
                  <button id="seqStartBtn" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
                  <button id="seqPauseBtn" class="btn btn-default" disabled><span class="glyphicon glyphicon-pause"></span></button>
                  <button id="seqStopBtn" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
                  <button id="seqFwdBtn" class="btn btn-default"><span class="glyphicon glyphicon-step-forward"></span></button>
                </div>
                <div class="col-xs-6">
                  <div id="state"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
