{% extends 'bootstrap/base.html' %}

{% block scripts %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

  <script>
  $(document).ready(function() {
    // Establish socketio connection
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // Test event to query if connection ok
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });

    // Update current process data
    socket.on('update', function(data) {

      console.log()

      $('#timestamp').text(data['t']);
      $('#temp_current').val(data['temp_ct']);
      $('#heater_power_pct').val(data['ht_pwr']);

      if (data['ht_en']) {
        $('#enableHeater').addClass('btn-primary');
      }
      else {
        $('#enableHeater').removeClass('btn-primary');
      };

      if (data['mx_en']) {
        $('#enableMixer').addClass('btn-primary');
      }
      else {
        $('#enableMixer').removeClass('btn-primary');
      }
    });

    // Enable / Disable Heater state
    {# change heater state #}
    $('#enableHeater').click(function() {
      if ($(this).hasClass('btn-primary')) {
        socket.emit('disable heater');
      }
      else {
        socket.emit('enable heater');
      }
    });
    socket.on('heater enabled', function() {
      $('#enableHeater').addClass('btn-primary');
    });
    socket.on('heater disabled', function() {
      $('#enableHeater').removeClass('btn-primary');
    })

    // Enable / Disabe mixer state
    {# change mixer sate #}
    $('#enableMixer').click(function() {
      if ($(this).hasClass('btn-primary')) {
        socket.emit('disable mixer');
      }
      else {
        socket.emit('enable mixer');
      }
    })
    socket.on('mixer enabled', function() {
      $('#enableMixer').addClass('btn-primary')
    });
    socket.on('mixer disabled', function() {
      $('#enableMixer').removeClass('btn-primary');
    });

    // set setpoint
    $('#acceptSetpointButton').click(function() {
      socket.emit('change setpoint', {'value': $('#temp_setpoint').val()});
    });

    socket.on('setpoint changed', function(data) {
      $('#temp_setpoint').val(data['value']);
    });

  });
  </script>
  {{  super() }}
{% endblock %}

{% block navbar %}
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><img src="{{ url_for('static', filename='logo.png') }}"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <button id="enableHeater" class="btn btn-default navbar-btn{% if heater_enabled %} btn-primary{% endif %}">Heizung</button>
        <button id="enableMixer" class="btn btn-default navbar-btn{% if mixer_enabled %} btn-primary{% endif %}">Rührwerk</button>
        <p class="navbar-text pull-right" id="timestamp" style="display: inline;"></p>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form class="form">
          <div class="form-group">
            <label>Temperatur (Soll):</label>
            <div class="input-group">
              <input type="number" class="form-control" id="temp_setpoint" value={{ '{:.1f}'.format(temp_setpoint) }}>
              <span class="input-group-btn">
                <button type="submit" id="acceptSetpointButton" class="btn btn-primary">OK</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label>Temperatur (Ist):</label>
            <input type="number" step=0.1 class="form-control" id="temp_current" disabled value={{ '{:.1f}'.format(temp_current) }}></p>
          </div>
          <div class="form-group">
            <label>Heizleistung (%):</label>
            <input type="number" step=0.1 class="form-control" id="heater_power_pct" disabled value={{ '{:.1f}'.format(heater_power_pct) }}></p>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
