{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $('#navSequence').addClass('active');
    });
  </script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a class="btn btn-default" href="{{ url_for('main.add_step') }}">Add Step</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <th>Name</th>
          <th>Temperatur</th>
          <th>Dauer</th>
          <th>Toleranz</th>
          <th>Heizung</th>
          <th>Mixer</th>

          {% for step in steps %}
          <tr>
            <td>{{ step.name }}</td>
            <td>{{ step.temperature }}</td>
            <td>{{ step.duration }}</td>
            <td>{{ step.tolerance }}</td>
            <td>{{ step.heater }}</td>
            <td>{{ step.mixer }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}