{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $('#navSequence').addClass('active');

      // Delete step
      $('.del-step-btn').click(function() {
        var step_id = $(this).parents('tr').data('step-id');
        $.ajax({
          url: $SCRIPT_ROOT + '/sequence/steps/' + step_id + '/delete',
          type: 'DELETE'
        }).done(function(data) {
          location.reload();
        });
      });

      // Move step up
      $('.step-up-btn').click(function() {
        var step_id = $(this).parents('tr').data('step-id');
        $.ajax({
          url: $SCRIPT_ROOT + '/sequence/steps/' + step_id + '/up',
          type: 'POST'
        }).donw(function(data) {
          location.reload();
        });
      });

      // Move step down
      $('.step-down-btn').click(function() {
        var step_id = $(this).parents('tr').data('step-id');
        $.ajax({
          url: $SCRIPT_ROOT + '/sequence/steps/' + step_id + '/down',
          type: 'POST'
        }).donw(function(data) {
          location.reload();
        });
      });
    });
  </script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a class="btn btn-default" href="{{ url_for('main.add_step') }}">Schitt hinzufügen</a>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <th></th>
          <th>Name</th>
          <th>Temperatur</th>
          <th>Dauer</th>
          <th>Toleranz</th>
          <th>Heizung</th>
          <th>Mixer</th>
          <th></th>

          {% for step in steps %}
          <tr data-step-id="{{ step.id }}">
            <td>
              <a class="step-up-btn" href=""><span class="glyphicon glyphicon-arrow-up"></span></a>
              <a class="step-down-btn" href=""><span class="glyphicon glyphicon-arrow-down"></span></a>
              <a class="edit-step" href="{{ url_for('main.edit_step', step_id=step.id) }}"><span class="glyphicon glyphicon-edit"></span></a>
            </td>
            <td>{{ step.name }}</td>
            <td>{{ step.temperature }}</td>
            <td>{{ step.duration }}</td>
            <td>{{ step.tolerance }}</td>
            <td>{{ step.heater }}</td>
            <td>{{ step.mixer }}</td>
            <td>
              <a class="del-step-btn" href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}