body {
    padding-top: 70px;
}

.navbar-brand {
    padding-top: 0;
}

.visu-container {
  position: relative;
  padding-legt: 20px;
  padding-bottom: 25px;
}

#pot {
  max-height: 230px;
}

#gauge {
  position: absolute;
  left: 200px;
  top: 20px;
}

#flame {
  position: absolute;
  max-width: 72px;
  left: 65px;
  top: 100px;
  visibility: hidden;
}